# ===========================
# Environment Variables
# ===========================
backend/.env

# ===========================
# Virtual Environment
# ===========================
backend/.venv/

# ===========================
# Python Cache
# ===========================
**/__pycache__/
*.py[cod]

# ===========================
# SQLite Database
# ===========================
backend/database/*.db

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Logs
# ===========================
*.log
gcm-diagnose.log

# ===========================
# OS Files
# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db