<nav class="navbar-custom">

    <div class="navbar-branding">

        <div class="brand-code">
            ECDP
        </div>

        <div class="brand-divider"></div>

        <div class="brand-title">

            <h2>
                Enterprise Cyber Defense Platform
            </h2>

            <small>
                Security Operations Center
            </small>

        </div>

    </div>


    <div class="user-info">

        <i class="bi bi-bell-fill notification"></i>

        <h5 class="mb-0">

            Welcome,
            <strong>{{ current_user.username }}</strong>

        </h5>

    </div>

</nav>