{% extends "base.html" %}

{% block content %}

<h2>Asset Inventory</h2>

<hr>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.asset_name.label }}<br>
        {{ form.asset_name() }}
    </p>

    <p>
        {{ form.ip_address.label }}<br>
        {{ form.ip_address() }}
    </p>

    <p>
        {{ form.operating_system.label }}<br>
        {{ form.operating_system() }}
    </p>

    <p>
        {{ form.owner.label }}<br>
        {{ form.owner() }}
    </p>

    <p>
        {{ form.asset_type.label }}<br>
        {{ form.asset_type() }}
    </p>

    <p>
        {{ form.risk_level.label }}<br>
        {{ form.risk_level() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>

<hr>

<h2>Assets</h2>

<table border="1" cellpadding="10">

    <tr>

        <th>ID</th>

        <th>Name</th>

        <th>IP Address</th>

        <th>Operating System</th>

        <th>Owner</th>

        <th>Type</th>

        <th>Risk</th>

    </tr>

    {% for asset in assets %}

    <tr>

        <td>{{ asset.id }}</td>

        <td>{{ asset.asset_name }}</td>

        <td>{{ asset.ip_address }}</td>

        <td>{{ asset.operating_system }}</td>

        <td>{{ asset.owner }}</td>

        <td>{{ asset.asset_type }}</td>

        <td>{{ asset.risk_level }}</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}